@import 'variables';

.contenedor-comentarios{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    .bloque{
        width: 50%;
        margin-left: 20px;
        padding-right: 20px;
        h2{
            color: $morado-oscuro;
            font-family: $dancing;
            font-weight: $bold;
            font-size: 62px;
            text-align: left;
            margin-bottom: 25px;
        }
        .texto{
            margin-bottom: 55px;
            img{
                margin-bottom: 10px;
            }
            p{
                color: $morado-oscuro;
                font-family: $lato;
                font-weight: $regular;
                font-size: 15px;
                line-height: 25px;
            }
        }
    }
    .img{
        background: url('../img/stil-TVllFyGaLEA-unsplash.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        width: 50%;
        height: 120vh;
    }
}

@media screen and (max-width: 768px){
    .contenedor-historia{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .bloque{
            width: 100vw;
            margin-left: 20px;
            padding-right: 20px;
            h2{
                font-size: 52px;
                text-align: left;
            }
            .texto{
                margin-top: 55px;
                p{
                    font-size: 15px;
                    line-height: 25px;
                }
            }
        }
        .img{
            width: 100vw;
        }
    }
}