@import 'variables';

footer{
    margin-top: 20px;
    padding: 18px;
    background: $morado-oscuro;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .bloque-noticias{
        h5{
            color: $blanco;
            font-family: $dancing;
            font-weight: $bold;
            font-size: 24px;
            margin-bottom: 10px;
        }
        form{
            display: flex;
            flex-direction: row;
            align-items: center;
            input{
                border-radius: 55px;
                padding: 10px;
                outline: none;
                font-family: $lato;
                font-size: 10px;
                font-weight: $regular;
                margin-right: 10px;
                color: $morado-oscuro;
                &::placeholder{
                    color: $morado-oscuro;
                }
            }
            button{
                border-radius: 55px;
                padding: 8px;
                cursor: pointer;
                color: $morado;
                font-family: $lato;
                font-weight: $bold;
                text-transform: uppercase;
                text-decoration: none;
                outline: none;
                font-size: 12px;
                background: $blanco;
                &:hover{
                    background: $morado;
                    color: $blanco;
                    transition: ease-in-out .15s;
                }
            }
        }
    }
    .bloque-iconos{
        h5{
            color: $blanco;
            font-family: $dancing;
            font-weight: $bold;
            font-size: 24px;
            margin-bottom: 10px;
        }
        .iconos{
            img{
                margin-right: 18px;
            }
        }
    }
}

@media screen and (max-width: 768px){
    footer{
        .bloque-iconos{
            .iconos{
                img{
                    width: 40px;
                }
            }
        }
    }
}