@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Lato&display=swap');

//Colores
$morado: #914FA6;
$morado-oscuro: #733380;
$blanco: #EDEEF0;
$negro: #3C3C3B;

//Tipografía
$dancing: 'Dancing Script', cursive;
$lato: 'Lato', sans-serif;
$regular: 400;
$bold: 700;